
#lp-builder {
    all: initial;
    width: 30%;
    height: 100vh;
    background: lightgray;
    overflow:scroll;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    font-family: sans-serif;
    padding: 30px;
    box-sizing: border-box;
}

#lp-builder label {
    font-size: 14px;
    margin-bottom: 30px;
}

#lp-builder select {
    box-sizing: border-box;
}

#lp-builder .form-field input {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

#lp-builder .form-field a {
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 40px;
}

#lp-builder .form-field a:hover {
    background-color: #464647;
}


#lp-builder input::before {
    all: initial;
}

#lp-builder input::after {
    all: initial;
}

#build {
    width: 70%;
    left: 30%;
    position: absolute;
}
#container {
    display: flex;
    align-items: flex-start;
}

.label-hint {
    font-size: 12px;
    color:#464647;
}

#lp-builder .build-wrap {

}

#build-elements .element-clear {
    cursor: pointer !important;
}

#build-elements ul {
    list-style: none;
    margin-top: 30px;
    padding:0;
    margin-right: 0;
}

#build-elements li {
    color: #464647;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #464647;
    display: flex;
    width: 80%;
    justify-content: space-between;
}

#build-elements li p {
    display: inline;
    width: 50%;
    cursor: move;
}

.trash-icon {
    width: 20px;
    height: 20px;
}