
#lp-builder {
    all: initial;
    width: 30%;
    height: 100vh;
    background: lightgray;
    overflow:scroll;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    font-family: sans-serif;
}
#build {
    width: 70%;
    left: 30%;
    position: absolute;
}
#container {
    display: flex;
    align-items: flex-start;
}