#lp-container {
    margin: auto;
    width: 1000px;
}

#lp-container p {
    font-size: 1em;
}

#lp-container h3 {
    font-family: Tungsten, Verdana, Arial, sans-serif;
}

.lp-full-width {
    height: 490px;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.lp-full-width-image {
    position: absolute;
    z-index: -100;

}

.lp-full-width h3 {
    font-size: 3em;
}

.lp-full-width img {
    height: 100%;
}

.lp-full-width-copy {
    width: 50%;
    height: 150px;
    margin-left: 60px;
    color: white;
}

.lp-full-width-copy h3 {
    text-transform: uppercase;
}

.lp-small-copy {
    font-size: 70% !important;
    text-transform: lowercase;
}

.lp-full-width a {
    position: relative;
    padding: 20px 50px 20px 50px;
    border: 1px solid white;
    color: white;
    display: inline-block;
    text-decoration: none;
}

.lp-full-width a:hover {
    color: white;
}

.lp-full-width p {
    margin: 15px 0 25px 0;
}

.lp-half-width {
    height: 382px;
    width: 483px;
    position: relative;
    display: inline-block;
    margin-bottom: 28px;
}

.lp-half-right {
    margin-left: 30px;
}

.lp-half-width-image {
    max-width: 100%;
    max-height: 220px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.lp-half-width img {
    width: 100%;
}

.lp-half-width-copy {
    width: 90%;
}

.lp-half-width h3 {
    margin-top: 25px;
    text-transform: uppercase;
}

.lp-half-width p {
    margin: 20px 0 25px 0;
}

.lp-half-width a {
    font-family: 'Univers LT Std', Verdana, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1em;
}

.lp-half-width a:hover {
    color: black;
}