/* UPDATED */
@font-face {
    font-family: 'Tungsten';
    src: url('../fonts/Tungsten-Medium.woff2') format('woff2'), url('../fonts/Tungsten-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-Cn.woff2') format('woff2'), url('../fonts/UniversLTStd-Cn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
xmp {
    font-size: 12px;
    max-width: 1000px;
    overflow-wrap: break-word;
}

hr {
    margin-bottom: 30px;
    margin-top: 30px;
}
#lp-container {
    margin: auto;
    width: 100%;
    max-width: 1000px;
}

#lp-container p {
    font-size: 1em;
}

#lp-container h3 {
    font-family: 'Tungsten', Verdana, Arial, sans-serif !important;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #202024;
}

#lp-container .lp-body-copy-title {
    font-size: 2.5em;
    margin: 0 auto 15px auto;
    max-width: 680px;
    padding: 0 20px 0 20px;
}

.lp-body-copy {
    font-size: 18px !important;
    line-height: 1.5em !important;
    max-width: 680px;
    margin: 0 auto 30px auto;
    padding: 0 20px 0 20px;
}

.lp-full-width {
    height: 490px;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.lp-full-width-image {
    position: absolute;
    z-index: -100;

}

.lp-full-width h3 {
    font-size: 3em;
    color: white !important;
}

.lp-full-width img {
    height: 100%;
}

.lp-full-width-copy {
    color: white;
}

.lp-full-width-copy h3 {
    text-transform: uppercase;
}

.lp-small-copy {
    font-size: 70%;
    text-transform: lowercase;
}

.lp-white-outline-button {
    position: relative;
    padding: 20px 50px 20px 50px;
    border: 1px solid white;
    color: white;
    display: inline-block;
    text-decoration: none;
}

.lp-white-outline-button:hover {
    color: white;
}

.lp-full-width p {
    margin: 15px 0 25px 0;
}

.lp-half-width-product {
    position: relative;
    margin-bottom: 28px;
}

.lp-half-width-product-image {
    max-width: 100%;
    height: 220px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.lp-half-width-product-copy {
    width: 90%;
}

.lp-half-width-product-copy h3 {
    margin-top: 25px;
    text-transform: uppercase;
    font-size: 2em;
}

.lp-half-width-product p {
    margin: 20px 0 25px 0;
    height: 40px;
    overflow: hidden;
}

.lp-half-width-product-copy a {
    font-family: 'Univers LT Std', Verdana, Arial, sans-serif;
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: .1em;
}

.lp-half-width-product a:hover {
    color: black;
}

.lp-lead-in {
    margin-bottom: 30px;
}

.lp-lead-in-copy {
    max-width: 680px;
    padding: 0 40px 0 40px;
    margin: auto;
    text-align: center;
}

.lp-lead-in-copy h3{
    font-size: 4.5em;
    margin-bottom: 26px;
}

.lp-lead-in-copy p {
    font-family: 'Univers LT Std', Verdana, Arial, sans-serif;
    font-size: 1em;
    color: #464647;
    margin-bottom: 30px;
}

.lp-lead-in img {
    max-width: 1000px;
}

.lp-product {
    margin-bottom: 30px;
}

.lp-product-grid {
    width: 100%;
    margin-bottom: 30px;
}

.lp-product-head {
    max-width: 680px;
    margin: 50px auto 30px auto;
    text-align: center;
}

.lp-product-head h3 {
    margin-bottom: 25px;
    font-size: 2.5em;
}

.lp-product-head a:hover {
    color: black;
}

.lp-product-grid .lp-half-width-product-image {
    background-color: #FAFAFA;
}

.lp-product-grid .lp-half-width-product-image img {
    margin: auto;
    mix-blend-mode: multiply;
    max-height: 220px;
    max-width: 300px;
}
.lp-product-foot {
    text-align: center;
    height: 100px;
}

.lp-product-foot a {
    display: block;
    background-color: #2D2D2E;
    margin: auto;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
}

.lp-product-foot a:hover {
    color: white;
}

.lp-full-width-product .lp-half-width-product-copy p {
    margin: 30px 0;
}

.lp-full-width-info {
    margin-bottom: 30px !important;
}

.lp-full-width-info-copy p {
    margin: 30px 0;
    line-height: 1.5em;
    width: 90%;
}

.lp-full-width-info-gray-outline-button {
    position: relative;
    padding: 20px 50px 16px 50px;
    border: 1px solid #000000;
    color: #000000;
    display: inline-block;
    text-decoration: none;
}

.lp-full-width-info-gray-outline-button:hover {
    color: #000000;
}

.lp-full-width-info-white-outline-button {
    position: relative;
    padding: 20px 50px 16px 50px;
    border: 1px solid white;
    color: white;
    display: inline-block;
    text-decoration: none;
}

.lp-full-width-info-white-outline-button:hover {
    color: white;
}

.lp-full-width-info-dk-bg {
    background-color: #323233;
    color: white !important;
}

.lp-full-width-info-dk-bg h3 {
    color: white !important;
}

.lp-full-width-info-lt-bg {
    background-color: #F5F5F7;
    color: #000000;
}

.lp-full-width-info-copy {
    padding: 50px 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

}

.lp-three-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px;
}

.lp-column img {
    max-width: 313px;
    max-height: 220px;
}

.lp-column-title {
    letter-spacing: .1em;
    margin: 27px 0 18px 0;
    text-transform: uppercase;
}

@media (min-width: 1000px) {
    .lp-full-width-copy {
        width: 50%;
        height: 150px;
        margin-left: 60px;
    }

    .lp-half-width-product {
        width: 483px;
        display: inline-block;      
    }

    .lp-half-width-product:nth-child(even) {
        margin-left: 30px;
    }

    .lp-half-width-product img {
        width: 100%;
    }
    .lp-full-width-product {
        display: flex;
        width: 100%;
    }

    .lp-full-width-product .lp-half-width-product-image {
        width: 48%;
    }

    .lp-full-width-product .lp-half-width-product-copy {
        width: 48%;
        margin: auto 0 auto 30px;
    }

    .lp-product-foot a {
        max-width: 515px;
        padding: 30px 100px 30px 100px;
    }
    .lp-full-width-info {
        display: flex;
        height: 505px;
        width: 100%;
        overflow: hidden;
    }

    .lp-full-width-info-image {
        width: 45%;
    }

    .lp-full-width-info-copy {
        width: 55%;
    }

    .lp-body-copy-image {
        width: 313;
        height: 238px;
        float: left;
        margin: 0 30px 30px 0px;
    }
    /* not currently used
    .lp-body-copy-image-right {
        width: 313;
        height: 238px;
        float: right;
        margin: 0 0px 30px 30px;
    } */

    .lp-column {
        width: 313px;
    }

    .lp-three-col {
        width: 100%;
    }
}

@media (max-width: 900px) {

    #lp-container img{
        text-align: center;
    }

    .lp-full-width-copy {
        width: 80%;
        margin: auto;
    }

    .lp-half-width-product {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .lp-half-width-product img {
        width: 100%;
    }

    .lp-product {
        width: 90%;
        margin: auto;
    }
    .lp-product-foot a {
        padding: 20px 20px;
        width: 80%;
    }

    .lp-full-width-product {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .lp-full-width-product .lp-half-width-product-image {
        margin-bottom: 30px;
    }

    .lp-full-width-info {
        width: 90%;
        margin: auto;
        overflow: hidden;
        padding: 20px;
    }

    .lp-full-width-info-image {
        max-height: 300px;
        overflow: hidden;
        margin-top: 30px;
    }

    .lp-body-copy-image {
        width: 90%;
        height: 238px;
        display: block;
        margin: 0 auto 30px auto;

    }

    .lp-lead-in img {
        margin: auto;
    }

    .lp-three-col {
        width: 90%;
        margin: 0 auto 50px auto;
    }

    .lp-column {
        width: 100%;
        margin: 30px auto 30px auto;
    }
}